@model IEnumerable<Dhipaya.Models.Gallery>
@{
   ViewData["Title"] = "รูปภาพ";
   Layout = "_LayoutTIP";

   var urlhost = "https://" + ViewContext.HttpContext.Request.Host.Value;
  
}
<div class="profile-container">
   <div class="profile-information">
      <div class="">
         <div class="profile-title-block " id="divimg">
            <div class="heading-wrapper">
               <h2 class="title">รูป<small>ภาพ</small></h2>
               <div class="title-right">
                  <button type="button" onclick="upload_onclick()" class="button button-blue">เพิ่มรูป</button>
               </div>
            </div>
         </div><!-- .profile-title-block -->
         <div class="profile-block-with-bg">
            <div class="profile-row">
               <div class="profile-col-full">
                  @foreach (var item in Model)
                  {
                     var img = item.Url;
                     if (!string.IsNullOrEmpty(img))
                     {
                        img = urlhost + img.Replace("~", "");
                     }
                     <div class="privilege-image-preview">
                        <img src="@Url.Content(img)" />
                        <div class="action">
                           <a onclick="copycllipboard('@img');return false;" href="#" class="btn btn-link">
                              คัดลอก
                           </a>
                           <a onclick="remove_onclick(event,'@item.ID')"
                              class="btn btn-link">
                              ลบ
                           </a>
                        </div>
                     </div>
                  }
               </div>
            </div>
         </div>
      </div><!-- .container -->
   </div><!-- .profile-information -->
</div>
<div class="privilege-popup" id="privilege-popup">
   <div class="privilege-popup-close"><i class="fas fa-times"></i></div>
   <div class="privilege-popup-wrapper">
      <div class="privilege-popup-body">
         <div class="privilege-popup-title-wrapper">
            <div class="privilege-popup-icon"><img id="pop-icon" src="~/tip/img/icon-instagram-white.png" style="transform: scale(1);"></div>
            <h3 class="privilege-popup-title"><small id="pop-merchant-name">รูปภาพ</small></h3>
         </div>
         <div class="privilege-popup-content">
            <p id="pop-condition"></p>
         </div>
         <div class="privilege-popup-content">
            <form asp-controller="Gallery" asp-action="Image" class="dropzone" method="post" enctype="multipart/form-data">
               <input type="hidden" name="ID" id="ID">
               <div class="fallback">
                  <input name="imgfile" id="imgfile" type="file" multiple />
               </div>
            </form>

         </div>
         <!-- .privilege-popup-action -->
      </div><!-- .prvilege-popup-body -->
   </div><!-- .privilege-popup-wrapper -->
</div>



@section scripts{
   <script>
      $(document).ready(function () {
         $('main').addClass('profile-main');

         $("div#imgfile").dropzone({ url: "/file/post" });
      });
      function copycllipboard(text) {
         var copyText = document.createElement("textarea");
         copyText.value = text;
         document.body.appendChild(copyText);
         const selected =
            document.getSelection().rangeCount > 0        // Check if there is any content selected previously
               ? document.getSelection().getRangeAt(0)     // Store selection if found
               : false;   
         copyText.select();
         document.execCommand("copy");
         document.body.removeChild(copyText);
         if (selected) {                                 // If a selection existed before copying
            document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
            document.getSelection().addRange(selected);   // Restore the original selection
         }
      }
      function upload_onclick(e) {
         if (e != null)
            e.preventDefault();
         jQuery('#privilege-popup').addClass('is-active');
         jQuery('.privilege-popup-close').click(function (e) {
            jQuery('body').removeClass('popup-is-active');
            jQuery('#privilege-popup').removeClass('is-active');

            window.location = '@Url.Action("Index", "Gallery")';
         });
      }
      function remove_onclick(e, id) {
         if (e != null)
            e.preventDefault();
         if (confirm('ต้องการลบรายการนี้?')) {
            $.ajax({
               url: "@Url.Action("ImageDelete", "Gallery")?id=" + id,
            })
               .done(function (data) {
                  if (data != null && data == true) {
                     window.location = '@Url.Action("Index", "Gallery")';
                  }
               });
         }
      }
   </script>
}

