@model Dhipaya.DTO.MailSendDeleteAccountDTO
@using Dhipaya.DTO;
@using Dhipaya.Services;

@{
   ViewData["Title"] = "MailDeleteAccount";
   var root = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
   var idcard = Model.customers.FirstOrDefault().IDCard;
   var codes = Model.codes;
   var i = 0;

   var surname = "";
   var name = "";
   var cus = Model.customers.FirstOrDefault();
   if (cus != null)
   {
      name = cus.NameTh;
      surname = cus.SurNameTh;
   }
}

<style type="text/css">
   .button:hover {
      color: #d9192b !important;
   }
</style>

<div class="site-wrapper" style="color: #000;font-size: 10pt;text-align:left;">
   <main class="main">
      @*<div>
         <img src="https://tipsociety.dhipaya.co.th/tip/img/mail-bg-top-mb.jpg" />
      </div>*@
      <p style="text-align:left; padding: 5px;">
         เรียน คุณ @name @surname
         <br />
         <br />
         ด้วยหมายเลขบัตรประจำตัวประชาชนเลขที่ @idcard
         <br />
         <br />
         ได้มีการลงทะเบียนเป็นสมาชิกผ่านเว็บไซต์ TIPInsure.com หรือ เว็บไซต์ TIPsociety.dhipaya.co.th หรือ Mobile application TIPInsure ไว้ก่อนหน้านี้แล้ว เพื่อความสะดวกในการใช้งาน ลูกค้าสามารถเข้ารับบริการได้โดยใช้ Username และ Password เดียวกัน โดยกรุณากดลบบัญชีที่ไม่ต้องการ ตามรายละเอียด ดังนี้
         <br />
      </p>

      <table width="100%">
         <thead>
            <tr>
               <th>ชื่อสมาชิก</th>
               <th>คะแนนสะสม</th>
               <th>เลือกลบบัญชีนี้</th>
            </tr>
         </thead>
         <tbody>
            @foreach (var customer in Model.customers)
            {
               var url = root + "/Accounts/Terminate?code=" + codes[i];
               i++;
               <tr>
                  <td>
                     @(i + ". " + customer.NameTh + " " + customer.SurNameTh ) (@(customer.CustomerClass != null ? customer.CustomerClass.Name : ""))
                     <br />
                     @customer.Email
                  </td>
                  <td valign="top">@customer.Point</td>
                  <td valign="top"><a href="@(url)" target="_blank">ลบบัญชีนี้</a></td>
               </tr>
            }
         </tbody>
      </table>
      <p style="text-align:left; padding: 5px;">
         <br />
         ติดต่อสอบถาม
         <br />
         Line : <a style="text-decoration:underline;color: #15c !important;" href="http://line.me/ti/p/~@@tipsociety">@("@Tipsociety")</a>
         <br />
         โทร. <a href="tel:1736" style="text-decoration: underline;" target="_blank">1736</a>
      </p>
      @*<div style="text-align:center;">
         <img src="https://tipsociety.dhipaya.co.th/tip/img/mail-bg-bottom-mb.jpg" />
      </div>*@


   </main>
</div>
