@model IEnumerable<Dhipaya.Models.Question>
@inject Dhipaya.DAL.ChFrontContext context
@{
   ViewData["Title"] = "คำถามที่พบบ่อย";
   Layout = "_LayoutTIP";
   var i = 1;
}
@functions
{
bool canDelete(int Id)
{
   bool retVal = true;

   return retVal;
}
}
<div class="profile-container">
   <div class="profile-information">
      <div class="container">
         <div class="profile-title-block">
            <div class="heading-wrapper">
               <h2 class="title">คำถาม<small>ที่พบบ่อย</small></h2>
               <div class="title-right">
                  <a href="@Url.Action("Create","Question")" class="button button-blue">เพิ่มคำถามที่พบบ่อย</a>
               </div>
            </div>

         </div><!-- .profile-title-block -->
         <div class="profile-block-with-bg">
            <div class="history-table">
               @foreach (var item in Model)
               {
                  <div class="history-table-container">
                     <div class="history-date"></div>
                     <div class="history-table-wrapper add-point">
                        <div class="history-detail">
                           <div class="history-detail-logo">

                           </div>
                           <div class="history-detail-text">
                              <a href="@Url.Action("Update", "Question", new { id = item.ID })">@i. @item.Title</a>
                           </div>
                        </div>

                        <div class="history-total-point">

                        </div>
                        <div class="history-point">
                           <a href="@Url.Action("MoveUp", "Question", new { id = item.ID })"
                              class="btn btn-link">
                              ย้ายขึ้น
                           </a>
                           <a href="@Url.Action("MoveDown", "Question", new { id = item.ID })"
                              class="btn btn-link">
                              ย้ายลง
                           </a>

                           <a href="@Url.Action("Update", "Question", new { id = item.ID })"
                              class="btn btn-link">
                              แก้ไข
                           </a>
                           @if (canDelete(item.ID))
                           {
                              <a href="@Url.Action("Delete", "Question", new { id = item.ID })"
                                 onclick="return confirm('ต้องการลบรายการนี้?')"
                                 class="btn btn-link">
                                 ลบ
                              </a>
                           }
                        </div>
                     </div>

                  </div> <!-- .history-table-container -->
                  i++;
               }
            </div>
         </div>
      </div><!-- .container -->
   </div>
</div>

@section scripts{
   <script>
      $(document).ready(function () {
         $('main').addClass('profile-main');
      });

   </script>
}

