
@model Dhipaya.DTO.ReportDTO
@using Dhipaya.DTO;
@using  Dhipaya.ModelsDapper;
@inject Dhipaya.DAL.ChFrontContext context
@{
   ViewData["Title"] = "อันดับการ Invite Friend";
   Layout = "_LayoutTIP";
   var no = 0;
   var pno = 1;
   if (ViewBag.PageLength != null && ViewBag.PageLength > 1 && ViewBag.PageNo != null && ViewBag.PageNo <= ViewBag.PageLength){
      pno = ViewBag.PageNo;
   }
}


<div class="profile-container">
   <div class="profile-information">
      <div class="">
         <div class="profile-title-block">
            <div class="heading-wrapper">
               <h2 class="title"><small>อันดับการ Invite</small>Friend</h2>
               <div class="title-right">
               </div>
            </div>
            <form id="form" asp-controller="Report" asp-action="InviteRank" role="form" autocomplete="off" method="get" asp-route-id="">
               <h4 class="sub-heading">ทั้งหมด @NumUtil.FormatCurrency(ViewBag.ItemCount) รายการ</h4>
               <h4 class="sub-heading-right">
                  <input type="text" class="input-text col70" asp-for="search_text" placeholder="ค้นหาจากชื่อ นามสกุล, อีเมล, รหัสบัตรประชาชน, เบอร์โทรศัพท์, หมายเลขสมาชิก, Friend Code">
                  <select class="disable-search col20" asp-for="customerClassID">
                     <option value="">ค้นหาจากประเภทสมาชิก</option>
                     @foreach (CustomerClass item in ViewBag.ListCustomerClass)
                     {
                        <option value="@item.ID">@item.Name</option>
                     }
                  </select>
                  <button class="submit-button" type="submit"><i class="fa fa-search"></i></button>
               </h4>
            </form>
         </div><!-- .profile-title-block -->
         <div class="profile-block-with-bg">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th></th>
                     <th>หมายเลขสมาชิก</th>
                     <th>ชื่อสมาชิก</th>
                     <th>จำนวนเพื่อน</th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var item in Model.InviteRanks)
                  {
                     no++;
                  <tr>
                     <td>@(no + ((pno - 1) * 100))</td>
                     <td><a target="_blank" href="@Url.Action("Update", "Customer", new { id = item.ID })">@item.RefCode</a></td>
                     <td>@item.NameTh @item.SurNameTh</td>
                     <td>@NumUtil.FormatCurrency(item.Friends)</td>
                  </tr>
                  }
               </tbody>
            </table>
         </div>
         @if (ViewBag.PageLength != null && ViewBag.PageLength > 1 && ViewBag.PageNo != null && ViewBag.PageNo <= ViewBag.PageLength)
         {
            
            var pnumber = ((int)(pno / 10) * 10) + 1;
            var end = false;
            <nav class="pagination">
               @if (ViewBag.PageLength > 10)
               {
                  if (pno > 10)
                  {
                     <a href="@Url.Action("InviteRank", "Report", new { id = 1, pno= pnumber - 10,customerClassID = Model.customerClassID, search_text =  Model.search_text})" class="item" style="width:80px">ก่อนหน้า</a>
                     <a href="#" class="item" onclick="return false">...</a>
                  }
                  for (var i = pnumber; i < pnumber + 10; i++)
                  {
                     if (i <= ViewBag.PageLength)
                     {
                        if (i == ViewBag.PageNo)
                        {
                           <a href="" class="item active">@i</a>
                        }
                        else
                        {
                           <a href="@Url.Action("InviteRank", "Report", new { id = 1, pno=i,customerClassID = Model.customerClassID, search_text =  Model.search_text})" class="item">@i</a>
                        }
                     }
                     else
                     {
                        end = true;
                     }
                  }
                  @if (!end)
                  {
                     <a href="#" class="item" onclick="return false">...</a>
                     <a href="@Url.Action("InviteRank", "Report", new { id = 1, pno=pnumber +10,customerClassID = Model.customerClassID, search_text =  Model.search_text})" class="item" style="width:80px">ถัดไป</a>
                  }
               }
               else
               {
                  @for (var i = 1; i <= ViewBag.PageLength; i++)
                  {
                     if (i == ViewBag.PageNo)
                     {
                        <a href="" class="item active">@i</a>
                     }
                     else
                     {
                        <a href="@Url.Action("InviteRank", "Report", new { id = 1, pno=i,customerClassID = Model.customerClassID, search_text =  Model.search_text})" class="item">@i</a>
                     }
                  }
               }
            </nav>

         }
      </div><!-- .container -->
   </div>
</div>


@section scripts{
   <script>
      $(document).ready(function () {
         $('main').addClass('profile-main');
      });
   </script>
}
