@model IEnumerable<Dhipaya.Models.UserRole>
@inject Dhipaya.DAL.ChFrontContext context
@{
   ViewData["Title"] = "สิทธิ์การเข้าถึง";
   Layout = "_LayoutTIP";
}
@functions
{
   bool canDelete(int Id)
   {
      bool retVal = true;
      var user = context.Users.Where(c => c.UserRoleID == Id).FirstOrDefault();
      if (user != null)
      {
         return false;
      }
      return retVal;
   }
}
<div class="profile-container">
   <div class="profile-information">
      <div class="container">
         <div class="profile-title-block">
            <div class="heading-wrapper">
               <h2 class="title">สิทธิ์<small>การเข้าถึง</small></h2>
               <div class="title-right">
                  <a href="@Url.Action("Create","UserRole")" class="button button-blue">เพิ่มสิทธิ์การเข้าถึง</a>
               </div>
            </div>
            <form id="form" asp-controller="UserRole" asp-action="Index" role="form" autocomplete="off" method="get" asp-route-id="">
               <h4 class="sub-heading">ทั้งหมด @NumUtil.FormatCurrency(ViewBag.ItemCount) รายการ</h4>
               <h4 class="sub-heading-right"></h4>
            </form>

         </div><!-- .profile-title-block -->
         <div class="profile-block-with-bg">
            <div class="history-table">
               @foreach (var item in Model)
               {
                  <div class="history-table-container">
                     <div class="history-date"></div>
                     <div class="history-table-wrapper @(item.Status == StatusType.Active ? "add-point" :"minus-point")">
                        <div class="history-detail">
                           <div class="history-detail-logo">
                           </div>
                           <div class="history-detail-text">
                              @item.RoleName
                           </div>
                        </div>
                        <div class="history-total-point">
                           @item.Status.toStatusName()
                        </div>
                        <div class="history-point">
                           @if (!item.UnEditable)
                           {
                              <a href="@Url.Action("Update", "UserRole", new { id = item.UserRoleID })"
                                 class="btn btn-link">
                                 แก้ไข
                              </a>
                              @if (canDelete(item.UserRoleID))
                              {

                                 <a href="@Url.Action("Delete", "UserRole", new { id = item.UserRoleID })"
                                    onclick="return confirm('ต้องการลบรายการนี้?')"
                                    class="btn btn-link">
                                    ลบ
                                 </a>
                              }

                           }

                        </div>
                     </div>

                  </div> <!-- .history-table-container -->

               }
            </div>
         </div>
         @if (ViewBag.PageLength != null && ViewBag.PageLength > 1 && ViewBag.PageNo != null)
         {
            <nav class="pagination">
               @for (var i = 1; i <= ViewBag.PageLength; i++)
               {
                  if (i == ViewBag.PageNo)
                  {
                     <a href="" class="item active">@i</a>
                  }
                  else
                  {
                     <a href="@Url.Action("Index", "UserRole", new { id = 1, pno = i })" class="item">@i</a>
                  }
               }
            </nav>
         }

      </div><!-- .container -->
   </div>
</div>

@section scripts{
   <script>
      $(document).ready(function () {
         $('main').addClass('profile-main');
      });

   </script>
}


